[run]
branch = True
source = .
omit =
    src/seer/_version.py
    src/seer/migrations/env.py
    src/seer/web/server.py
    shell.py

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

[html]
skip_covered = True
